body {
    background-color: rgb(235, 232, 215);
    background: url("../images/giftly.png");
}

body > * {
    background-color: rgba(250, 250, 250, 0.50);
}

.niceFont {
    font-family: sans-serif;
}

.fill {
    width: 100%;
    height: 100%;
}

.fillWidth {
    width: 100%;
}

.tall {
    height: 75%;
}

.borderless {
    border: 0;
    padding: 0;
    margin: 0;
}

.waitForInitialized {
    opacity: 0;
    transition: opacity 0.05s;
}

.displayNone {
    display: none;
}

.containerBorder {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    width: calc(100% - 4em);
    min-width: 320px;
}

.verticalFlow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontalFlow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

